### Programming Machine Learning Lab

### Data Science Group, University of Hildesheim

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### Learning by doing. Learning Pandas with Pokemon!

#### Read dataset using pd.read_csv() method.

In [2]:
df=pd.read_csv('Pokemon.csv')
df.head(15)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False

In [3]:
df.loc[1]

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
Total             405
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [4]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

### Filter out the legendary pokemon.

In [5]:
df[df['Legendary']==True]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [6]:
df[df['Type 1']=='Fire']

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,505,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,555,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,500,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,495,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,525,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,309,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,534,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,250,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,410,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,365,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,310,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,405,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,530,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,305,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,460,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,470,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,309,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,405,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,534,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,540,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,308,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,528,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,316,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,498,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,315,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,480,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,484,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,307,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,409,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,534,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,382,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,499,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### Change and set the index to the name attribute

In [ ]:
df = df.set_index('Name')
df.head()

#### Drop the redundant column #. Use axis=1 for columns and axis=0 for rows.

In [ ]:
df=df.drop(['#'],axis=1)
df.head()

#### Print the column names and the shape of data.

In [ ]:
print('The columns of the dataset are: ',df.columns)
print('The shape of the dataframe is: ',df.shape)

#### We have NaN values for Type2. We fill them with corresponding values of Type 1. In simple terms, where Type 2 is empty, fill it the same type as of 1.

In [ ]:
df['Type 2'].fillna(df['Type 1'], inplace=True)
df.head()

#### Retrieves complete row data from index with value Bulbasaur

In [ ]:
df.loc['Bulbasaur']

#### Retrieves complete row date from index 0. This is an integer version of loc.

In [ ]:
df.iloc[0]

#### Grab all the rows between "Charmander" and "Squirtle" (inclusive)

In [ ]:
df.loc["Charmander": "Squirtle"]

#### Filtering pokemons using logical operators

In [ ]:
## Filter out pokemon where Type 1 = Ice 

df[df['Type 1']=='Ice']

In [ ]:
### Filter out pokemon where Type 1= Fire or Dragon

cond=(df['Type 1']=='Fire') | (df['Type 1']=='Dragon') 

val=df[cond]
val

In [ ]:
### Filter all pokemon which are of the combination Ice + Ghost, Ice+Ice, Ghost+Ghost

cond = ((df['Type 1']=='Ice') | (df['Type 1']=='Ghost')) & (((df['Type 2']=='Ghost') | (df['Type 2']=='Ice')))

val=df[cond]
val

#### Return the pokemon with highest HP and maximum defense.

In [ ]:
df['HP'].max()

In [ ]:
df['HP'].idxmax() ### Return the index which is the Name here.

In [ ]:
df.loc[df['HP'].idxmax()] ## Get all details about it

In [ ]:
df.loc[df['Defense'].idxmax()]

#### Give me the Pokemon's generation and hp whose hp is lower than 70

In [ ]:
df[df['HP']<70]

### This gives all columns.

In [ ]:
df[df['HP']<70][['Generation','HP']]

#### Give me Pokemon whose name contains  "Cha"

In [ ]:
df[df.index.str.contains("Cha")]

#### Sort the pokemons in the descending order of the Totals. This will no modify the original data. You need to assign it to make the change.

In [ ]:
df.sort_values('Total',ascending=False)

#### Print all the unique pokemons and their counts.

In [ ]:
print('The unique  pokemon types are',df['Type 1'].unique()) 
print('The number of unique types are',df['Type 1'].nunique())

#### Count different types of pokemons.

In [ ]:
df['Type 1'].value_counts()

In [ ]:
df['Type 2'].value_counts()

In [ ]:
(df['Type 1']=='Dragon')

In [ ]:
### How many pokemons where Type 1 = Dragon?

(df['Type 1']=='Dragon').sum()

In [ ]:
### How many pokemons where Type 1 = Dragon and Type 2 = Ground ?

((df['Type 1']=='Dragon') & (df['Type 2']=='Ground')).sum()

In [ ]:
df[((df['Type 1']=='Dragon') & (df['Type 2']=='Ground'))]

In [ ]:
### Print those pokemons.
df[((df['Type 1']=='Dragon') & (df['Type 2']=='Ground'))]

#### Dealing with missing values.

In [ ]:
# "Tell me which columns have null values and which ones don't"
df.isna().any()

In [ ]:
### We can also sort individual columns as Series! Let's just get the speeds of the 5 fastest Pokemon.

df['Speed'].sort_values(ascending = False)[0:5]

In [ ]:
### Combine Attack and Sp.Attack into a column Total Attack.

df['Total Attack']=df['Attack']+df['Sp. Atk']
df

In [ ]:
## Create a Total Stat column that combines a Pokemon's hp, attack, sp_attack, defense, sp_defense, and speed base stats!

## Step 1 : Filter the data
df.loc[:,'HP':'Speed']

In [ ]:
### Step 2 : Sum along the columns which is axis 1
df.loc[:,'HP':'Speed'].sum(axis=1)

In [ ]:
### Step 3: Assign the column

df['Total Stats']=df.loc[:,'HP':'Speed'].sum(axis=1)
df

#### In certain cases, we may want more control over the operations we perform. Pandas allows us to define custom functions that can be apply-ed to each row. For example, let's say we want to classify pokemons based on the total attack as follows:

##### If attack< 150 : Weak
##### If attack> 150 and attack < 300 : Strong
##### If attack > 300 : Fierce

In [ ]:
def ATTACK(row):
    attack=row['Total Attack']
    
    if attack<150:
        return "Weak"
    elif attack>=150 and attack<300:
        return "Strong"
    else:
        return "Fierce"

In [ ]:
attack_categories = df.apply(ATTACK, axis=1)

attack_categories

In [ ]:
df['Attack Category']=attack_categories
df

In [ ]:
### Method 2 of the same.

# create a list of our conditions
conditions = [
    (df['Speed'] < 50),
    (df['Speed'] >= 50) & (df['Speed'] < 100),
    (df['Speed']>=100)]

# create a list of the values we want to assign for each condition
values = ['Slow', 'Fast', 'Fierce']

# create a new column and use np.select to assign values to it using our lists as arguments
df['Speed Category'] = np.select(conditions, values)

# display updated DataFrame
df

### Aggregation and Grouping

### Aggregate Functions
Aggregate functions summarize a large collection of data points into a single metric. mean, median, min, max, and sum all fall under the category of aggregate functions you may call in Pandas. Let's get the average hp base stat of our 801 Pokemon.

In [ ]:
df['HP'].mean()

### Groupby
How might we go about figuring out the Pokemon generation type that has the highest average base speed stat? One option is to create 7 groups of rows — one for each unique generation. Each group would contain the speed stat for Pokemon introduced in that generation. Once we have constructed these groups, we can apply the mean function to each. We are left with 7 values — each representing the average speed base stat for all Pokemon belonging to one of our 7 generations/groups.

This is the thought process behind the groupby function.

In [ ]:
# 1. Create groups where each group represents a unique generation
# 2. Keep track of Pokemon speed stats in these groups 
# 3. Calculate the average speed stat of Pokemon belonging to that generation
# 4. Sort averages asending

gen_group=df.groupby('Generation')
for name,group in gen_group:
    print(name)
    
print('-'*100)
print('-'*100)

for name,group in gen_group:
    print(group)

In [ ]:
gen_group

In [ ]:
gen_group['Speed'].mean().sort_values()

#### Do legendary Pokemon have higher average base stats?

In [ ]:
df.groupby('Legendary')['Total Stats'].describe()

#### We can also group by multiple columns, creating groups within groups. How might we count the number of legendaries released in each generation?

1. A pokemon is either a legendary or not. Create one group for each category 
2. There are six Pokemon generations in this dataset. Create one sub-group for each generation.
3. Count the number of Pokemon in each (Legendary, Generation) grouping

sort_index() ensures that generation values are presented in order

In [ ]:
df.groupby(['Legendary', 'Generation'])['Type 1'].count().sort_index()

## Exploratory Data Analysis

A picture is worth a thousand words

Or in this case, a thousand numbers, quite literally. We are visual creatures — humans process visual data so much better than staring at a list of numbers.

We’ll start simple, like displaying how many Pokemon of each type we have.

In [ ]:
df['Type 1'].value_counts()

In [ ]:
plt.figure(figsize=(15,7))

sns.countplot(x=df['Type 1'])

Cool! It looks like Water and Normal Pokemon are the most common. But, why are Flying types so rare? I’m no Pokemon expert, but that doesn’t seem right. There are plenty of Flying Pokemon in the games and anime! What gives?

If you remember what our DataFrame looked like, or if you’ve played the Pokemon games before, you’d know that Pokemon can have 2 types. In the above plot, we only specified Type 1. What happens if we do a countplot() of Type 2?

In [ ]:
plt.figure(figsize=(15,7))

sns.countplot(x=df['Type 2'])

Aha! Flying type is the most common secondary type of Pokemon. That answers our question of why they were so rare as a primary type.

Let’s now look at the distribution of our data in each of our feature columns (Attack, Defense, Speed, etc.). In other words, what shape does all of our data take in a certain column?

To view a distribution, you simply need to call Seaborn’s histplot() function, passing in the column you want to plot. Seaborn’s distplot() will show both a histogram of you data and the Kernel Density Estimation (KDE), which is an estimate of the probability density function (PDF) of your data

In [ ]:
sns.histplot(df['Attack'],kde=True)

You can also use boxplots to view statistical measures like the median, and any outliers in your data. You use boxplot() to get a boxplot for one column of data:

In [ ]:
sns.boxplot(x=df['Attack'])

We can also view boxplots of all the feature columns within the same plot — Seaborn allows you to do so with an entire DataFrame. You just have to pass your DataFrame in as a parameter using data=YOUR_DATAFRAME.

In [ ]:
plt.figure(figsize=(12,12))
sns.boxplot(data=df)

As you may notice, we probably don’t need ‘Total’ stats, since we have all the individual stats. The ‘Generation’, ‘#’, and ‘Legendary’ columns should probably go away too. We can easily tailor our DataFrame by dropping columns we don’t need/wish to see. This is done using Pandas’ drop function, as follows:

In [ ]:
pokemon_stats = df.drop(['Type 1', 'Type 2', 'Total', 'Legendary', 'Total', 'Generation','Total Attack','Total Stats'], axis=1)
plt.figure(figsize=(12,12))
sns.boxplot(data=pokemon_stats)

Plots like this can motivate a whole host of questions. For example, 1) who’re those Pokemon with absurdly high HP values?

In [ ]:
df[df['HP']>200]

2) Who’s that weakling with barely any HP?

In [ ]:
df[df['HP']<10]

3) Who has those tremendously high Defense and Sp. Defense values?

In [ ]:
df[df['Defense']>200]

In [ ]:
df[df['Sp. Def']>200]

### Pie- Chart showing distribution of various types of Pokemon.

In [ ]:
type_series=df['Type 1'].value_counts()

type_series

In [ ]:
labels = type_series.index
values=  type_series.values

plt.figure(figsize=(10,10))
plt.pie(values, labels=labels)
plt.title("Percentage of Different Types of Pokemon")

### Attack of pokemon by type.

In [ ]:
plt.figure(figsize=(14,12))

sns.boxplot(x=df['Type 1'],y=df['Attack'])

This shows that the Dragon type pokemons have an edge over the other types as they have a higher attacks compared to the other types. Also since the fire pokemons have lower range of values, but higher attacks, they can be preferred over the grass and water types for attacking.

![36.png]()

### Defense of pokemon by type.

In [ ]:
plt.figure(figsize=(14,12))

sns.boxplot(x=df['Type 1'],y=df['Defense'])

This shows that steel type pokemons have the highest defence but normal type pokemons have the lowest defence

### Now lets see the same stats in violinplot

In [ ]:
plt.figure(figsize=(14,12))

sns.violinplot(x=df['Type 1'],y=df['Attack'])

What the violinplot actually does is it plots according to the density of a region. This means that the parts of the plot where the width is thicker denotes a region with higher density points whereas regions with thinner area show less densely populated points

In [ ]:
plt.figure(figsize=(14,5))

sns.violinplot(x=df['Generation'],y=df['Total'])

### Finding any Correlation between the attributes

df.corr() makes a correlation matrix and sns.heatmap is used to show the correlations heatmap

In [ ]:
plt.figure(figsize=(10,6)) #manage the size of the plot
sns.heatmap(df.corr(),annot=True) 
plt.show()

In [ ]:
a=df.groupby(['Generation','Type 1']).count().reset_index()
a=a[['Generation','Type 1','Total']]
a

In [ ]:
a=a.pivot(index='Generation',columns='Type 1',values='Total')
a

In [ ]:
types=['Water','Fire','Grass','Dragon','Normal','Rock','Flying','Electric']
a[types].plot(marker='o')

fig=plt.gcf()
fig.set_size_inches(12,6)

We can see that water pokemons had the highest numbers in the 1st Generation. However the number has decreased with passing generations. Similarly Grass type pokemons showed an increase in their numbers till generation 5.